.try-again-btn {
  width: 70%;
  height: 46px;
  margin-top: 60px;
  font-size: 30px;
  color: rgb(233, 233, 234);
  border: none;
  background-color: rgb(60, 63, 66);

     &:hover {
      box-shadow: inset 0 0 2px 0 rgb(66, 68, 71); 
      background-color: rgb(92, 95, 98);
    }

    &:active {
      background: rgb(157, 159, 161);
    }
}